<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Souhaitez-vous réelement supprimer cet élément ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ user.id) }}">
    <button class="btn">Supprimer</button>
</form>
