{% extends 'base.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
    <h1><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément"> Utilisateur</h1>

    {{ include('Admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}"><img src="{{ asset('images/svg/return.png') }}" alt="">Retouner au menu précédent</a>
{% endblock %}
