{% extends 'base.html.twig' %}

{% block title %}Édition du Stock{% endblock %}

{% block body %}
    <h1>Édition du Stock</h1>

    {{ include('Admin/stock/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_stock_index') }}"><img src="{{ asset('images/svg/return.png') }}" alt="">Retouner au menu précédent</a>

    {{ include('Admin/stock/_delete_form.html.twig') }}
{% endblock %}
