{% extends 'base.html.twig' %}

{% block title %}New Stock{% endblock %}

{% block body %}
    <h1>Create new Stock</h1>

    {{ include('Admin/stock/_form.html.twig') }}

    <a href="{{ path('admin_stock_index') }}">back to list</a>
{% endblock %}
