{% extends "base.html.twig" %}
{% block title %}{% endblock %}

{% block body %}

        <div class="d-flex">
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/return.png') }}" class="m-2 p-2" width="70" height="60" alt="">
            </a>
            <h1 class="h1 m-auto"><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément">Nous contacter</h1>
        </div>

    {{ include('Public/contact/_form.html.twig') }}

{% endblock %}
