{% extends 'base.html.twig' %}

{% block title %}Creation d'une commande{% endblock %}

{% block body %}
    <h1><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément">Orders</h1>

    {{ include('Admin/orders/_form.html.twig') }}

    <a href="{{ path('admin_orders_index') }}"><img src="{{ asset('images/svg/return.png') }}" alt="">Retouner au menu précédent</a>
{% endblock %}
