@charset "UTF-8";
@import url(~bootstrap);
@font-face {
  font-family: "Fantasy W01 Regular1504285";
  src: url("/font/d59cb9bb-e302-4d03-a28c-f5d7fc170d1d.eot?#iefix");
  src: url("/font/d59cb9bb-e302-4d03-a28c-f5d7fc170d1d.eot?#iefix") format("eot"), url("/font/67ba6174-8662-4877-8c71-6938b098652b.woff2") format("woff2"), url("/font/66f396d7-a2f5-48ff-b666-529e61be0af8.woff") format("woff"), url("/font/452560bc-7196-4154-9b64-b9bb79494473.ttf") format("truetype");
}
body {
  background: url("../../public/images/background.jpg");
  font-family: "Fantasy W01 Regular1504285", sans-serif;
  box-sizing: border-box;
  font-weight: 900;
  margin: 0 auto;
  padding: 0;
}
body .browser-default .custom-select {
  display: block !important;
}
body h1 {
  text-align: center;
  margin: 20px;
}
body .btn-success {
  background-color: #7dbf5d !important;
  border: none;
  color: black;
}
body .btn-refresh {
  padding: 0;
}
body header nav {
  background-color: rgba(255, 255, 255, 0.6);
  height: 30vh;
}
@media screen and (max-width: 930px) {
  body header nav {
    height: 50vh;
  }
}
body header .speach {
  padding-left: 2em;
  text-align: center;
  font-size: 2.5em;
  font-family: "Ranga", cursive;
  font-weight: bolder;
}
@media screen and (max-width: 600px) {
  body header .speach {
    font-size: 1.5em;
    padding-left: 0;
    margin: auto;
  }
}
body header .speach span {
  color: #8d0e0a;
}
body header h1 {
  margin: auto;
  font-weight: 900;
}
@media screen and (max-width: 1030px) {
  body header h1 {
    padding: 0;
  }
}
@media screen and (max-width: 544px) {
  body header h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 544px) {
  body header img {
    width: 50%;
  }
}
@media screen and (max-width: 930px) {
  body header ul {
    text-align: center;
    margin: auto;
  }
}
body header li {
  font-size: 1.8rem;
}
body header li a {
  color: black;
}
body header li a:hover {
  text-decoration: none;
}
body aside .cart_logo {
  z-index: 500;
  width: 7rem;
  position: fixed;
}
body aside .cart_logo img {
  width: 6rem;
}
body aside .cart_logo .nb-cart {
  font-family: "Roboto", sans-serif;
  margin-top: 5em;
  padding: 10px;
  text-align: center;
  border: #0b51c5 solid 2px;
  border-radius: 50%;
  background-color: #0b51c5;
  color: white;
}
body main .container {
  margin-top: 10vh;
}
body main .case-product {
  background: rgba(220, 150, 2, 0.2);
}
body main .case-user {
  background: rgba(220, 59, 4, 0.2);
}
body main .case-news {
  background: rgba(71, 7, 220, 0.2);
}
body main .case-order {
  background: rgba(0, 220, 9, 0.2);
}
body main .number-input input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
body main .number-input input[type=number]::-webkit-inner-spin-button,
body main .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
body main .number-input {
  margin-bottom: 3rem;
}
body main .number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
body main .number-input button:before,
body main .number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}
body main .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
body main .number-input input[type=number] {
  text-align: center;
}
body main .number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: 0.25rem;
}
body main .number-input.number-input button {
  width: 2.6rem;
  height: 0.7rem;
}
body main .number-input.number-input button.minus {
  padding-left: 10px;
}
body main .number-input.number-input button:before,
body main .number-input.number-input button:after {
  width: 0.7rem;
  background-color: #495057;
}
body main .number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}
body main .user_show {
  border: transparent;
  border-radius: 15px;
}
body main .responsive-table-line {
  border-radius: 25px;
  margin: 0 auto;
  max-width: 700px;
}
body main table {
  background: linear-gradient(40deg, rgba(255, 216, 111, 0.9), rgba(252, 98, 98, 0.9));
  border: none;
}
body main table span {
  display: none;
}
body main table td {
  color: white;
}
body main table th, body main table td {
  font-weight: 900;
  font-size: 1.2em;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    body main .number-input.def-number-input.safari_only button:before,
body main .number-input.def-number-input.safari_only button:after {
      margin-top: -0.3rem;
    }
  }
}
@media (max-width: 700px) {
  body main Table span {
    display: block;
  }
  body main .responsive-table-line td:before {
    content: attr(data-title);
  }
  body main .responsive-table-line table,
body main .responsive-table-line thead,
body main .responsive-table-line tbody,
body main .responsive-table-line th,
body main .responsive-table-line td,
body main .responsive-table-line tr {
    display: block;
  }
  body main .responsive-table-line thead tr {
    display: none;
  }
  body main .responsive-table-line td {
    position: relative;
    border: 0 solid transparent;
    padding-left: 0 !important;
    white-space: normal;
    text-align: center;
  }
  body main .responsive-table-line td:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    text-align: center;
    background-color: #f8f8f8;
    padding: 2px;
  }
}
body main .grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 50px;
}
body main .grid .card {
  visibility: visible;
  animation-name: fadeInUp;
}
body main .grid .card .card-img-top {
  margin-top: -1.25rem !important;
  width: 90%;
  height: 15rem;
  background: url("../../public/images/Arrière-plan-copie.png") no-repeat center center;
  background-size: cover;
}
body main .grid .card .card-img-top img {
  width: 80%;
  height: 70%;
  margin-top: 2.5em;
}
body main .grid .card .card-body {
  text-align: center;
  padding: 10px;
}
body main .grid .card .card-body form .form-control {
  width: 60px;
}
body button::before {
  height: 30px;
}
body button::before span {
  position: absolute;
  /* postulat de départ */
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}
body button::before img {
  position: absolute;
  /* postulat de départ */
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}
body .signIn button {
  width: 6rem;
  margin-top: 5rem;
}
body .img_show {
  width: 40rem;
  height: 35rem;
  border-radius: 10px;
}

/*# sourceMappingURL=app.css.map */
