{% extends 'base.html.twig' %}

{% block title %}Creation d'un produit{% endblock %}

{% block body %}
    <h1><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément"> Produit</h1>

    {{ include('Admin/product/_form.html.twig') }}

    <a href="{{ path('admin_product_index') }}"><img src="{{ asset('images/svg/return.png') }}" alt="">Retouner au menu précédent</a>
{% endblock %}
