<nav class="navbar navbar-light">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('images/logo.png') }}" alt="logo - Les terres d'aris">
    </a>
    <h1>Les terres d'aris</h1>
    <ul class="my-2 mx-5 my-lg-0 flex-wrap d-flex list-unstyled">
        <li class="mr-4"><a href="{{ path('app_signin') }}">S'inscrire</a></li>
        <li class="ml-2"><a href="{{ path('app_login') }}">Se connecter</a></li>
    </ul>
</nav>