{% extends 'base.html.twig' %}

{% block title %}Édition du Contacts{% endblock %}

{% block body %}
    <h1>Édition du Contact</h1>

    {{ include('Admin/contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_contact_index') }}"><img src="{{ asset('images/svg/return.png') }}" alt="">Retouner au menu précédent</a>

    {{ include('Admin/contact/_delete_form.html.twig') }}
{% endblock %}
